<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  Highcharts.setOptions({
    global: {
      useUTC: false
    }
  });

  var chart;
  chart = new Highcharts.Chart({
    chart: {
      renderTo: 'graph',
      type: 'spline',
      marginRight: 10,
      events: {
        load: function() {

          // set up the updating of the chart each second
          var series = this.series[0];
          setInterval(function() {
            var x = (new Date()).getTime(), // current time
              y = Math.random();
            series.addPoint([x, y], true, true);
          }, 1000);
        }
      }
    },
    title: {
      text: 'Live random data'
    },
    xAxis: {
      type: 'datetime',
      tickPixelInterval: 150
    },
    yAxis: {
      title: {
        text: 'Numero Tweet'
      },
      plotLines: [{
        value: 0,
        width: 1,
        color: '#808080'
      }]
    },
    tooltip: {
      formatter: function() {
          return '<b>'+ this.series.name +'</b><br/>'+
          Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
          Highcharts.numberFormat(this.y, 2);
      }
    },
    legend: {
      enabled: false
    },
    exporting: {
      enabled: false
    },
    series: [{
      name: 'Random data',
      data: (function() {
        // generate an array of random data
        var data = [],
          time = (new Date()).getTime(),
          i;

        for (i = -19; i <= 0; i++) {
          data.push({
            x: time + i * 1000,
            y: Math.random()
          });
        }
        return data;
      })()
    }]
  });
});
</script>

<style>
h1.insetType {
  padding-left: 50px; /* The padding is just there to move the h1 element to the center of the div */
  padding-top: 17px;
  font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
  color: #0D4383;
  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}
</style>

<div class="span10 clearfix" id="graph" style="height:250px; margin-bottom:50px;"></div>
<div class="span10 clearfix" style="margin-top:20px;margin-bottom:40px;">
  <h1 class="insetType">Prova Beancounter con i Social</h1>
</div>

<div class="social_buttons span10 clearfix">
  <div class="inset span5 clearfix">
    <%= link_to (raw('<div class="logo_wrapper"><span class="logo"></span></div><span>Login with Facebook</span>')), "/auth/facebook", :TARGET => "_blank",:class =>"fb login_button" %>
  </div>
  <div class="inset span5 clearfix">
    <%= link_to (raw('<div class="logo_wrapper"><span class="logo"></span></div><span>Login with Facebook</span>')), "/auth/twitter", :TARGET => "_blank",:class =>"tw login_button" %>
  </div>
</div>