<% flash.each do |name, msg| %>
  <div class="span11 clearfix alert alert-<%= name == :notice ? "success" : "error" %>" style="margin-left:10px">
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
<% end %>